@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Gemunu Libre", sans-serif;
  }
  .active {
    background-color: #040910;
  }
  .gri {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@layer base {
  button {
    @apply text-white   bg-[#040910] px-4 py-2;
  }
}
